In [3]:
import psycopg2
import numpy as np
import pandas as pd
import sqlite3

In [1]:
conexion = sqlite3.connect('db')

NameError: name 'sqlite3' is not defined

In [7]:
cursor = conexion.cursor()

In [8]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()

In [9]:
print("Tablas en la base de datos:")
for tabla in tablas:
    print(tabla[0])

Tablas en la base de datos:

In [11]:
cursor.close
conexion.close

In [11]:
%pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
                                              0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB ? eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
df = pd.read_html('../data/Contenido-tabla.xls')

In [25]:
df[0]

,Codigo CUPS,Codigo Empresa Distribuidora,Nombre Empresa Distribuidora,Codigo Postal PS,Municipio PS,Codigo Provincia PS,Tension,Tarifa,Fecha Alta Suministro,Codigo TensionV,...,Caudal Maximo Diario En Wh,Caudal Horario En Wh,Derecho TUR,Fecha Ultima Inspeccion,Codigo Resultado Inspeccion,Codigo Contador,Calibre Contador,Tipo Contador,Propiedad Equipo Medida,Codigo Telemedida
0,ES0022000006250162PZ,22,"UNION FENOSA DISTRIBUCION, S.A.",28011,28079,28,1X230,2.0TD,2009-06-30T00:00:00,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
a = df[0].columns

In [31]:
a

Index(['Codigo CUPS', 'Codigo Empresa Distribuidora',
       'Nombre Empresa Distribuidora', 'Codigo Postal PS', 'Municipio PS',
       'Codigo Provincia PS', 'Tension', 'Tarifa', 'Fecha Alta Suministro',
       'Codigo TensionV', 'Potencia Maxima BIEW', 'Potencia Maxima APMW',
       'Codigo Clasificacion PS', 'Codigo Disponibilidad ICP',
       'Tipo Perfil Consumo', 'Valor Derechos ExtensionW',
       'Valor Derechos AccesoW', 'Codigo Propiedad EquipoMedida',
       'Codigo Propiedad ICP', 'Consumo Anual', 'Consumo Anual P1',
       'Consumo Anual P2', 'Consumo Anual P3', 'Consumo Anual P4',
       'Consumo Anual P5', 'Consumo Anual P6', 'Potencias Contratadas En W P1',
       'Potencias Contratadas En W P2', 'Potencias Contratadas En W P3',
       'Potencias Contratadas En W P4', 'Potencias Contratadas En W P5',
       'Potencias Contratadas En W P6', 'Fecha Ultimo Movimiento Contrato',
       'Fecha Ultimo Cambio Comercializador',
       'Fecha Limite Derechos Reconocidos', 'Fecha Ultima Lectura',
       'Informacion Impagos', 'Importe Deposito Garantia Euros',
       'Tipo Id Titular', 'Es Vivienda Habitual', 'Codigo Comercializadora',
       'Codigo Telegestion', 'Codigo Fases Equipo Medida',
       'Codigo Autoconsumo', 'Codigo TipoContrato',
       'Codigo Periodicidad Facturacion', 'Codigo BIE', 'Fecha Emision BIE',
       'Fecha Caducidad BIE', 'Codigo APM', 'Fecha Emision APM',
       'Fecha Caducidad APM', 'Relacion Transformacion Intensidad', 'CNAE',
       'Codigo Modo Control Potencia', 'Potencia CGPW',
       'Codigo DH Equipo De Medida', 'Codigo Accesibilidad Contador',
       'Codigo PS Contratable', 'Motivo Estado No Contratable',
       'Codigo Tension Medida', 'Codigo Clase Expediente',
       'Codigo Motivo Expediente', 'Codigo Tipo Suministro',
       'Aplicacion Bono Social', 'Descripcion Provincia PS',
       'Descripcion Municipio PS', 'Tipo Via PS', 'Via PS', 'Num Finca PS',
       'Portal PS', 'Escalera PS', 'Piso PS', 'Puerta PS', 'Codigo Presion',
       'Codigo Peaje En Vigor', 'Caudal Maximo Diario En Wh',
       'Caudal Horario En Wh', 'Derecho TUR', 'Fecha Ultima Inspeccion',
       'Codigo Resultado Inspeccion', 'Codigo Contador', 'Calibre Contador',
       'Tipo Contador', 'Propiedad Equipo Medida', 'Codigo Telemedida'],
      dtype='object')

In [29]:
df[0]["Codigo Provincia PS"]

0    28
Name: Codigo Provincia PS, dtype: int64

In [32]:
df = pd.read_html('../data/Contenido-tabla.xlsx')

In [33]:
df[0]

,CUPS,Fecha Lectura Inicial,Fecha Lectura Final,P1 Activa,P2 Activa,P3 Activa,P4 Activa,P5 Activa,P6 Activa,P1 Reactiva,...,P3 Reactiva,P4 Reactiva,P5 Reactiva,P6 Reactiva,P1 Maximetro,P2 Maximetro,P3 Maximetro,P4 Maximetro,P5 Maximetro,P6 Maximetro
0,ES0022000006250162PZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2018-10-10T00:00:00,2018-11-13T00:00:00,285000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,2018-11-13T00:00:00,2018-12-12T00:00:00,208000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,2018-12-12T00:00:00,2019-01-11T00:00:00,242000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,2019-01-11T00:00:00,2019-02-12T00:00:00,255000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NaN,2023-06-13T00:00:00,2023-07-13T00:00:00,52000.0,47000.0,91000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,NaN,2023-07-13T00:00:00,2023-08-13T00:00:00,25000.0,23000.0,73000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,NaN,2023-08-13T00:00:00,2023-09-13T00:00:00,37000.0,30000.0,82000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,NaN,2023-09-13T00:00:00,2023-10-11T00:00:00,37000.0,31000.0,64000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1760.0,1868.0,2404.0,0.0,0.0,0.0
63,NaN,2023-10-11T00:00:00,2023-11-13T00:00:00,42000.0,36000.0,91000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2240.0,1816.0,4248.0,0.0,0.0,0.0

In [34]:
b = df[0].columns

In [35]:
b

Index(['CUPS', 'Fecha Lectura Inicial', 'Fecha Lectura Final', 'P1 Activa',
       'P2 Activa', 'P3 Activa', 'P4 Activa', 'P5 Activa', 'P6 Activa',
       'P1 Reactiva', 'P2 Reactiva', 'P3 Reactiva', 'P4 Reactiva',
       'P5 Reactiva', 'P6 Reactiva', 'P1 Maximetro', 'P2 Maximetro',
       'P3 Maximetro', 'P4 Maximetro', 'P5 Maximetro', 'P6 Maximetro'],
      dtype='object')